.heading-box {
    width: 100%;
    margin-bottom: 70px;
    @include largeQuery {
        width: 60%;
    }
    .main-heading {
        text-align: center;
        font: {
            family: "Exo", sans-serif;
            size: 44px;
            weight: 700;
        }
        color: $mainColor;
        @include extraSmallQuery {
            font-size: 1.3rem;
        }
    }
}

.secondary-heading {
    font: {
        family: "Exo", sans-serif;
        size: 44px;
        weight: 700;
    }
    color: $mainColor;
    @include extraSmallQuery {
        font-size: 1.3rem;
    }
}
