// media queries:
$xSmallWidth: 0;
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$xLargeWidth: 1200px;
$xxLargeWidth: 1400px;

// direction:
$text-left: left;
$text-right: right;

// colors:
$mainColor: #223a66;
$secondaryColor: #e12454;
$whiteColor: #ffffff;
$blackColor: #222222;
$greyColor: #555555;
$textColor: #6f8ba4;
$scBgColor: #f4f9fc;

// fix values:
$radius: 100px;
$mainRadius: 15px;
$defaultFont: 16px;
$sectionsPadding: 100px;
$duration: 0.4s;
