footer {
    .widget {
        .footer-contact {
            .flex {
                i {
                    margin: 0 0 0 15px;
                }
            }
        }
    }
    .footer-btm {
        form {
            button {
                left: 6px;
                right: initial;
            }
        }
    }
}
